version: "3"

services:
  app:
    build:
      dockerfile: Dockerfile
      context: ./
    ports:
      - 80:80
    networks:
      - lucy
    volumes:
      - lucy_image_storage:/var/www/html/storage/app/public/images

networks:
  lucy:
    driver: bridge

volumes:
  lucy_image_storage:
