html {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
p
{
    color: whitesmoke;
}
a
{
    color: forestgreen;
}

button {
    border:2px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}
button:hover {
    box-shadow: inset 0 0 100px 0 darkorange;
    color: black;
    font-size: large;
}
button:active:hover {
    background-color: black;
}
.create-account-input-button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: ivory;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.create-account-button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12%;
    width: 15%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.general-heading
{
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2%;
}
body
{
    background-color: #1a1a40;
}

.darkThemeLabel
{
    position:absolute;
    top: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    width: 55px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-radius: 50px;
    cursor: pointer;
    background: gray;
}

#darkThemeSwitch:checked + .darkThemeLabel
{
    background: #ffffff;
}

.darkThemeLabel i
{
    font-size: 18px;
}

.darkThemeLabel .fa-moon
{
    transition: 0.3s;
    opacity: 1;
    color: silver;
}
.darkThemeLabel .fa-sun
{
    transform: translateX(35px);
    transition: 0.3s;
    opacity: 0;
    color: goldenrod;
}

.darkThemeLabel .ball
{
    position: absolute;
    top: 3px;
    left: 6px;
    display: block;
    width: 20px;
    height: 20px;
    background: silver;
    border-radius: 50%;
    transition: 0.3s;

}


#darkThemeSwitch:checked + .darkThemeLabel .fa-sun
{

    opacity: 1;
    transform: translateX(0);
}

#darkThemeSwitch:checked + .darkThemeLabel .fa-moon
{
    opacity: 0;
    transform: translateX(-35px);
}

#darkThemeSwitch:checked + .darkThemeLabel .ball
{
    transform: translateX(30px);
    background: goldenrod;
}

#darkThemeSwitch
{
    display: none;
}

.settings-button
{
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.form-popup
{
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid grey;
    padding: 1%;
    width: 30%;
    background-color: rgb(205, 213, 224);
    margin-left: auto;
    margin-right: auto;
}
.update-settings-button
{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    border: 2px solid black;
    height: 50px;
    width: 70%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.close-settings-button
{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    border: 2px solid black;
    height: 50px;
    width: 70%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.credentials-input {
    background-color:ivory;
    border-radius: 5px;
    border: 2px solid black;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.credentials-button {
    background-color:lightgoldenrodyellow;
    border-radius: 5px;
    border: 2px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome-body {
    text-align: center;
    background-color: #1a1a40;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome-body a {
    text-decoration: none;
    padding: 20px
}
.welcome-title {
    padding-top: 30px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.welcome-header {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.back-button {
    width: 125px;
    height: 12%;
    margin-right: 15px;
    margin-top: 15px;
    background-color:lightgoldenrodyellow;
    text-align: center;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.board-background {
    background-color: lightsteelblue;
}
.default-tile {
    margin-left: auto;
    margin-right: auto;
    background-color: mediumturquoise;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}
.back-folder-button{
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color:cadetblue;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.default-tile:hover {
    box-shadow: inset 0 0 10px 0 black;
    color: black;
}
.default-tile:active:hover {
    box-shadow: inset 0 0 100px 0 black;
    color: white;
}
.empty-tile {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(151, 212, 210);
    border: 1px solid black;
    border-radius: 5px;
    height: 20%;
    width: 15%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.sentence-bar {
    margin-left: auto;
    margin-right: auto;
    background-color: ivory;
    border: 2px solid black;
    border-radius: 5px;
    width: 75%;
    height: 15%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.sentence-backspace {
    margin-left: auto;
    margin-right: auto;
    background-color: lightcoral;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 110px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.sentence-clear {
    margin-left: auto;
    margin-right: auto;
    background-color:darkkhaki;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 110px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.sentence-speak {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.empty-shortcut {
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 5px;
    height: 15%;
    width: 15%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.user-home-buttons {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 5px;
    height: 15%;
    width: 20%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.guest-default-board {
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 5px;
    height: 15%;
    width: 30%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.folder-path
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color:whitesmoke;
}

.submit-form
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.main-modal-class
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: midnightblue;
    border-radius: 5px;
    border: 2px solid black;
}

.main-modal-overlay
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.modal-button
{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    font-size: larger;
    text-align: center;
    vertical-align: top;
}

.edit-modal-class
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: darkslategrey;
    border-radius: 5px;
    border: 2px solid black;
}

.file-input 
{
    height: 47px;
    width: 100px;
    font-size: larger;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    border:2px solid black;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}

.file-input:hover 
{
    box-shadow: inset 0 0 100px 0 darkorange;
    color: black;
    font-size: large;
}

/*to hide the ugly default styling for the file upload button*/
input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}