/*=====================================================*/
/*                     General CSS                     */
/*=====================================================*/
:root {
    --default-button-color: #daeace;
}
html {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: #b4b2c2; /* Default body background color */
}
button { /* NOT the same as board tiles */
    border:2px solid black;
    border-radius: 5px;
    background-color: var(--default-button-color);
    text-align: center;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
    color: black;
}
button:hover { /* Default hover effect */
    box-shadow: inset 0 0 100px 0 rgb(32, 42, 178);
    color: white;
    font-size: large;
}
button:active:hover { /* Default click/touch hold effect*/
    background-color: black;
}
.back-button {
    width: 125px;
    height: 12%;
    font-size: x-large;
    margin-right: 15px;
    margin-top: 15px;
    color: black;
}
.general-heading {
    text-align: center;
    padding: 2%;
}


.darkThemeLabel
{
    position:absolute;
    top: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    width: 55px;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
    border-radius: 50px;
    cursor: pointer;
    background: #ffffff;
}

#darkThemeSwitch:checked + .darkThemeLabel
{
    background: #ffffff;
}

.darkThemeLabel i
{
    font-size: 18px;
}

.darkThemeLabel .fa-moon
{
    transform: translateX(35px);
    transition: 0.3s;
    opacity: 0;
    color: silver;
}
.darkThemeLabel .fa-sun
{
    transition: 0.3s;
    opacity: 1;
    color: goldenrod;
}

.darkThemeLabel .ball
{
    position: absolute;
    top: 3px;
    right: 6px;
    display: block;
    width: 20px;
    height: 20px;
    background: silver;
    border-radius: 50%;
    transition: 0.3s;

}


#darkThemeSwitch:checked + .darkThemeLabel .fa-sun
{
    transform: translateX(35px);
    opacity: 0;
}

#darkThemeSwitch:checked + .darkThemeLabel .fa-moon
{
    opacity: 1;
    transform: translateX(0);

}

#darkThemeSwitch:checked + .darkThemeLabel .ball
{
    transform: translateX(-30px);
    background: goldenrod;
}

#darkThemeSwitch
{
    display: none;
}

/*=====================================================*/
/*                   Create Word CSS                   */
/*=====================================================*/
.submit-form {
    margin: var(--margin);
    text-align: var(--default-text-align);
    font-size: medium;
}
.main-modal-class {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: ivory;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}
.main-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
/*to hide the ugly default styling for the file upload button*/
input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.modal-button {
    height: 50px;
    width: 100px;
    font-size: large;
    text-align: var(--default-text-align);
    vertical-align: var(--vertical-align);
}

/*This will have similar styings to the button. I cant make it an actual button because then the file upload wont
work. */
.file-input {
    height: 47px;
    width: 100px;
    font-size: larger;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    border:2px solid black;
    border-radius: 5px;
    background-color: var(--default-button-color);
    text-align: center;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}

.file-input:hover {
    box-shadow: inset 0 0 100px 0 rgb(32, 42, 178);
    color: white;
    font-size: large;
}

.edit-modal-class {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: ivory;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}
