/*=====================================================*/
/*                     General CSS                     */
/*=====================================================*/
:root {
    --default-button-color: lightgoldenrodyellow;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: lightsteelblue; /* Default body background color */
}
button { /* NOT the same as board tiles */
    border:2px solid black;
    border-radius: 5px;
    background-color: var(--default-button-color);
    text-align: center;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}
button:hover { /* Default hover effect */
    box-shadow: inset 0 0 100px 0 rgb(32, 42, 178);
    color: white;
    font-size: large;
}
button:active:hover { /* Default click/touch hold effect*/
    background-color: black;
}
.back-button {
    width: 100px;
    height: 80px;
    font-size: large;
}
.general-heading {
    text-align: center;
    padding: 2%;
}
/*=====================================================*/
/*                 Create Account CSS                  */
/*=====================================================*/
.create-account {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}
.create-account-input {
    height: 10%;
    width: 30%;
    border-radius: 5px;
    text-align: center;
}
#create-account-button {
    height: 12%;
    width: 15%;
}


/*=====================================================*/
/*                     Settings CSS                    */
/*=====================================================*/
.settings-button {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 150px;
    text-align: center;
    font-size: larger;
}
.form-popup {
    display: none;
    text-align: center;
    border: solid grey;
    padding: 1%;
    width: 30%;
    background-color: rgb(205, 213, 224);
    margin-left: auto;
    margin-right: auto;
}
.update-settings-button { /*not actually a button element so need to keep some button css*/
    background-color: var(--default-button-color);
    border-radius: 5px;
    border: 2px solid black;
    height: 50px;
    width: 70%;
    font-size: larger;
}
.close-settings-button {
    height: 50px;
    width: 70%;
    font-size: larger;
}


/*=====================================================*/
/*                     Login CSS                       */
/*=====================================================*/
#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    min-width: 410px;
    min-height: 50vh;
    border: 1px solid black;
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: 0 0 20px 5px grey;
}
.credentials-input {
    background-color:ivory; 
    border-radius: 5px;
    border: 2px solid black;
    width: 400px; 
    height: 50px;
    text-align: center;
    font-size: larger;
}
.credentials-button {
    width: 200px; 
    height: 50px;
    font-size: larger;
}


/*=====================================================*/
/*                 Create Account CSS                  */
/*=====================================================*/
.welcome-body {
    text-align: center;
}
.welcome-title {
    padding-top: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.welcome-header {
    font-size: 3vw;
}
.welcome-button {
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: larger;
    margin-top: 20px;
}

/*=====================================================*/
/*                      Board CSS                      */
/*=====================================================*/
.board-background {
    background-color: lightsteelblue;
}
.default-tile {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 150px;
    text-align: center;
    font-size: larger;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}
.default-tile:hover {
    box-shadow: inset 0 0 10px 0 black;
    color: black;
}
.default-tile:active:hover {
    box-shadow: inset 0 0 100px 0 black;
    color: white;
}
.back-folder-button{
    width: 100px;
    height: 100px;
    background-color:#56a495;
    text-align: center;
    font-size: larger;
}
.sentence-bar {
    margin-left: auto;
    margin-right: auto;
    background-color: ivory;
    border: 2px solid black;
    border-radius: 5px;
    width: 75%;
    height: 15%;
    text-align: center;
    font-size: larger;
}
.sentence-backspace {
    margin-left: auto;
    margin-right: auto;
    background-color: #6c6fff;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 110px;
    text-align: center;
    font-size: larger;
}
.sentence-clear {
    margin-left: auto;
    margin-right: auto;
    background-color:#d0f0ff;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 110px;
    text-align: center;
    font-size: larger;
}
.sentence-speak {
    margin-left: auto;
    margin-right: auto;
    background-color: #90eeac;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: larger;
}
.user-home-buttons { /* Currently unused? */
    margin-left: auto;
    margin-right: auto;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    border-radius: 5px;
    height: 15%;
    width: 20%;
    text-align: center;
    font-size: larger;
}
.guest-default-board {
    margin-left: auto;
    margin-right: auto;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 5px;
    height: 15%;
    width: 30%;
    text-align: center;
    font-size: larger;
}
.folder-path {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: larger;
}


/*=====================================================*/
/*                   Create Word CSS                   */
/*=====================================================*/
.submit-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
}
.main-modal-class {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: ivory;
    border-radius: 5px;
    border: 2px solid black;
}
.main-modal-overlay
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.modal-button
{
    height: 50px;
    width: 100px;
    font-size: larger;
    text-align: center;
    vertical-align: top;
}
.edit-modal-class
{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: ivory;
    border-radius: 5px;
    border: 2px solid black;
}
