/*=====================================================*/
/*                      Board CSS                      */
/*=====================================================*/
/*variables*/
:root {
    --tile-height: 100px;
    --tile-width: 9%;
    --control-button-width: 125px;
    --height-relative: 12%;

    --margin: 5px;
    --control-button-margin: 15px;
    --vertical-margin: 5px;
    --top-vertical-margin: 15px;
    --vertical-align: top;
    
    --default-border: 2px solid black;
    --default-border-radius: 5px;

    --padding: 50px;
    --default-font-size: x-large;
    --default-text-align: center;
    
    --default-box-shadow: inset 0 0 0 0 green; 
    --default-transition: ease-out 0.15s;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.default-tile, .folder-tile {
    height: var(--tile-height);
    width: var(--tile-width);
    
    margin: var(--margin);
    margin-top: var(--vertical-margin);

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);

    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
}
.folder-tile { /* Base folder css retrieved from: http://jsfiddle.net/hK4pt/ */
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
.folder-tile:before {
    content: '';
    width: 50%;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 20px 0 0;
    background-color: gold;
    position: absolute;
    top: -7px;
    left: 0px;
}
.default-tile:hover, .folder-tile:hover {
    box-shadow: inset 0 0 10px 0 black;
    color: black;
}
.default-tile:active:hover, .folder-tile:active:hover {
    box-shadow: inset 0 0 100px 0 black;
    color: white;
}

.back-folder-button, .settings-button{
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    background-color:#56a495;
    
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
    color: black;
}
.sentence-bar {
    height: var(--height-relative);
    width: 70%;
    
    margin: var(--control-button-margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    background-color: ivory;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sentence-backspace {
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--top-vertical-margin);
    vertical-align: var(--vertical-align);

    background-color: #6c6fff;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.sentence-clear {
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--top-vertical-margin);
    vertical-align: var(--vertical-align);

    background-color:#d0f0ff;
    
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.sentence-speak {
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    background-color: #90eeac;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);

    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
}
.guest-default-board {
    height: var(--height-relative);
    width: 30%;

    justify-content: center;
    margin: var(--margin);
    vertical-align: var(--vertical-align);

    background-color: var(--default-background-color);

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.folder-path {
    display: flex;
    justify-content: center;
    margin: var(--margin);
    vertical-align: var(--vertical-align);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.tile-icons{
    max-width: 100%; 
    height: 75%; 
    object-fit: contain;
}
.swap-button {
    background-color: aliceblue;

    position: fixed;
    width: 10%;
    right: 45%;
    top: 0;
    height: 30px; 
}
.settings-button {
    background-color:  aliceblue;
    
    top: 20px;
    position: absolute;
    right: 5%;
}

#word-suggestion-bar {
    display: flex;
    justify-content: space-around;
}
.suggested-word {
    background-color: ivory;
    font-size: large;
    font-weight: bold;
    padding: 20px;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}

/*=====================================================*/
/*                    Swap Modal CSS                   */
/*=====================================================*/
.swap-modal-class {
    position: fixed;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 5%;
    padding-bottom: 20px;
    animation: test;
    animation-duration: .5s;
    animation-iteration-count: 1;

    background: ivory;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex: 1;
}
.swap-modal-class > .back-button {
    position:relative;
    left: 70%;
}
.swap-button-container {
    display: flex;
    background-color: rgb(232, 232, 224);
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: none;
    height: 75%;
    gap: 50px;
    margin: 5% 5%;
    overflow: auto;
    padding:10px;
}
.board-select-button {
    background: skyblue;
    width: 30%;
    height: min(30%, 100px);
    font-size: 36px;
    font-weight: bolder;
}

@keyframes test {
    0% {
        transform:scaleY(.2)
    }
    100% {

        transform:scaleY(1)
    }
}