/*=====================================================*/
/*                      Board CSS                      */
/*=====================================================*/
/*variables*/
:root {
    --tile-height: 100px;
    --tile-width: 9%;
    --control-button-width: 125px;
    --height-relative: 12%;

    --margin: 5px;
    --control-button-margin: 15px;
    --vertical-margin: 5px;
    --top-vertical-margin: 15px;
    --vertical-align: top;
    
    --default-border: 2px solid black;
    --default-border-radius: 5px;

    --padding: 50px;
    --default-font-size: x-large;
    --default-text-align: center;
    
    --default-box-shadow: inset 0 0 0 0 green; 
    --default-transition: ease-out 0.15s;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

.default-tile {
    height: var(--tile-height);
    width: var(--tile-width);
    
    margin: var(--margin);
    margin-top: var(--vertical-margin);

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);

    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
}
.folder-tile {
    display: inline-flex;
    justify-content: center;
    margin: var(--margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    border: 5px double black;
    border-radius: var(--default-border-radius);

    padding: var(--padding);
    text-align: var(--default-text-align);
    font-size: var(--default-font-size);

    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
}
.default-tile:hover {
    box-shadow: inset 0 0 10px 0 black;
    color: black;
}
.default-tile:active:hover {
    box-shadow: inset 0 0 100px 0 black;
    color: white;
}
.back-folder-button{
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    background-color:#56a495;
    
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.sentence-bar {
    height: var(--height-relative);
    width: 70%;
    
    margin: var(--control-button-margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    background-color: ivory;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sentence-backspace {
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--top-vertical-margin);
    vertical-align: var(--vertical-align);

    background-color: #6c6fff;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.sentence-clear {
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--top-vertical-margin);
    vertical-align: var(--vertical-align);

    background-color:#d0f0ff;
    
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.sentence-speak {
    height: var(--height-relative);
    width: var(--control-button-width);

    margin: var(--control-button-margin);
    margin-top: var(--vertical-margin);
    vertical-align: var(--vertical-align);

    background-color: #90eeac;

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);

    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
}
.guest-default-board {
    height: var(--height-relative);
    width: 30%;

    justify-content: center;
    margin: var(--margin);
    vertical-align: var(--vertical-align);

    background-color: var(--default-background-color);

    border: var(--default-border);
    border-radius: var(--default-border-radius);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.folder-path {
    display: flex;
    justify-content: center;
    margin: var(--margin);
    vertical-align: var(--vertical-align);

    text-align: var(--default-text-align);
    font-size: var(--default-font-size);
}
.tile-icons{
    max-width: 100%; 
    height: 75%; 
    object-fit: contain;
}
/*=====================================================*/
/*                   Create Word CSS                   */
/*=====================================================*/
.submit-form {
    margin: var(--margin);
    text-align: var(--default-text-align);
    font-size: medium;
}
.main-modal-class {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    background-color: ivory;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}
.main-modal-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
/*to hide the ugly default styling for the file upload button*/
input[type="file"] {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.modal-button {
    height: 50px;
    width: 100px;
    font-size: large;
    text-align: var(--default-text-align);
    vertical-align: var(--vertical-align);
}

/*This will have similar styings to the button. I cant make it an actual button because then the file upload wont
work. */
.file-input {
    height: 47px;
    width: 100px;
    font-size: larger;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    border:2px solid black;
    border-radius: 5px;
    background-color: var(--default-button-color);
    text-align: center;
    box-shadow: inset 0 0 0 0 green;
    transition: ease-out 0.15s;
}

.file-input:hover {
    box-shadow: inset 0 0 100px 0 rgb(32, 42, 178);
    color: white;
    font-size: large;
}

.edit-modal-class {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: ivory;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}

#word-suggestion-bar {
    display: flex;
    justify-content: space-around;
}

.suggested-word {
    background-color: ivory;
    font-size: large;
    font-weight: bold;
    padding: 20px;
    border-radius: var(--default-border-radius);
    border: var(--default-border);
}
