.home-welcome-title
{
    padding-top: 5vw;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;

}

.home-bar
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
}

.home-bar  li
{
    float: left;
    background-color: var(--default-button-color);
}

.home-bar  li  button
{
    color: black;
    text-decoration: none;
    font-size:2vw;
    display: block;
    padding: 8px;
    transition: ease-out 0.15s;
    box-shadow: inset 0 0 0 0 green;

}

.home-bar  li  button:hover
{
    box-shadow: inset 0 0 100px 0 darkorange;
    color: black;
    font-size: 1.8vw;
}

.home-boards
{
    margin: 0 auto;
    padding: 0;
    width: 50%;
    list-style-type: none;
    position: relative;
    align-content: center;
    
}

.home-board
{
    margin: 0 auto;
    padding: 1vw;
    background: #B8FFB7 ;
    border: 0.3vw solid black;
    
}
.home-board:not(:last-child)
{
    margin-bottom: 1vw;
}
.board-separator {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
}
.home-board a
{
    text-decoration: none;
    font-size: xxx-large;
    display:inline-block;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #EFEFEF;
    display: flex;
    height:100%;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.15s;
}

.home-board > div > button , .home-board > div > form > button
{
    width: 100%;
    height:4vw;
    position: relative;
    font-size: xx-large;
    align-self: center;
    background-color: #EFEFEF ;
    transition: ease-out 0.15s;
}

.home-board > div > button:hover , .home-board > div > form > button:hover, .home-board a:hover
{
    box-shadow: inset 0 0 100px 0 darkorange;
    color: black;
    font-size: x-large;
}


.home-create-board-button
{
    width:20vw;
    height:5vw;
    position: relative;
    left: 40%;
    margin:auto;
    font-size: xx-large;
    align-self: center;

    transition: ease-out 0.15s;
}
.home-create-board-button:hover
{
    font-size: x-large;
    box-shadow: inset 0 0 100px 0 darkorange;
    color: black;

}

.home-board label
{
    font-size: 1.8em;
    color: black ;

}

.home-board label + .home-board-input
{
    margin: 1vw;
    padding: 0.5vw;
    font-size:2em;
}



.home-board-edit
{
    font-size: x-large;
    size: auto;
    width: 45%;
    display:inline-block;
    margin-right:1vw;
    transition: ease-out 0.15s;
}

.home-board-edit:hover
{
    font-size: large;
    box-shadow: inset 0 0 100px 0 darkorange;
    color: black;
}


