.home-welcome-title
{
    padding-top: 5vw;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vw;

}

.home-bar
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
}

.home-bar  li
{
    float: left;
    background-color: #E2BF99;
    border: 0.1vw solid black

}

.home-bar  li  a
{
    color: black;
    text-decoration: none;
    font-size:2vw;
    display: block;
    padding: 8px;
    transition: ease-out 0.15s;

}


.home-boards
{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    position: absolute;
    align-content: center;
}

.home-board
{
    padding: 1vw;
    background: #B8FFB7 ;
    border: 0.3vw solid black;
    float:top;
}
.home-board:not(:last-child)
{
    margin-bottom: 1vw;
}

.home-board a
{
    text-decoration: none;
    font-size: xxx-large;
    display:inline-block;
    color: black;
}

.home-board button
{
    width: 100%;
    height:4vw;
    position: relative;
    font-size: xx-large;
    align-self: center;
    background-color: #EFEFEF ;
}

.home-create-board-button
{
    width:20vw;
    height:5vw;
    position: relative;
    left: 40%;
    margin:auto;
    font-size: xx-large;
    align-self: center;

}

.home-board label
{
    font-size: 1.8em;
    color: black ;

}

.home-board label + .home-board-input
{
    margin: 1vw;
    padding: 0.5vw;
    font-size:2em;
}


