/*=====================================================*/
/*                     Login CSS                       */
/*=====================================================*/
#login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    min-width: 410px;
    min-height: 50vh;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
    box-shadow: 0 0 20px 5px grey;
}
#login-box h1 {
    border-bottom: 2px;
    color: whitesmoke;
}

.credentials-input {
    background-color:ivory;
    border-radius: 5px;
    border: 2px solid black;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: larger;
}
.credentials-button {
    width: 200px;
    height: 50px;
    font-size: larger;
}
