/*=====================================================*/
/*                      Welcome CSS                    */
/*=====================================================*/
.welcome-body {
    text-align: center;
}
.welcome-title {
    padding-top: 30px;
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}
.welcome-header {
    font-size: 3vw;
}
.welcome-button {
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: larger;
    margin-top: 20px;
}
