/*=====================================================*/
/*                      Welcome CSS                    */
/*=====================================================*/
/*variables*/
:root {
    --align: center;
}
.welcome-background{
    background-color: #b4b2c2;
}
.welcome-body {
    text-align: var(--align);
    font-size: large;
}
.welcome-title {
    padding-top: 30px;
    color: black;
    font-weight: bold;
    text-align: var(--align);
}
.welcome-header {
    font-size: 3vw;
}
.welcome-button {
    width: 200px;
    height: 80px;
    text-align: var(--align);
    font-size: larger;
    margin-top: 20px;
}