name: Laravel

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.0'
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Run migrations and tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: |
        php artisan migrate:fresh --seed
        php artisan test

  deploy-image:
    needs:
      - laravel-tests
    # if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
    - name: SSH into server, pull new version, and deploy
      run: |
        echo "$SSH_KEY" > ssh-key
        mkdir -p ~/.ssh
        ssh-keyscan ed25519 $HOST > ~/.ssh/known_hosts
        ssh -i ssh_key $ADMIN@$HOST '
        cd /var/www
        git pull
        docker-compose down
        docker-compose -f docker-compose.yml up --build -d'
      env:
        SSH_KEY: ${{ secrets.CI_SSH_KEY }}
        ADMIN: ${{ secrets.HOST_USER }}
        HOST: ${{ secrets.PROJECT_URL }}
    - name: Discord notification
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        URL: ${{ secrets.PROJECT_URL }}
      uses: Ilshidur/action-discord@master
      with:
        args: 'Project has been deployed to {{ URL }}.'
